


#editorText{
	width:50%;
	height:600px;
	border: 1px solid #ccc;
	margin-left:0px;	
	padding-left:0px;	
}

#editorTextContent{
	width:100%;
	height:100%;
	resize:none;
	margin:0;
	padding:0;
	border:none;
	padding:8px;
}

#editorPreview{
	width:50%;
	border: 1px solid #ccc;
	height:600px;
	overflow:auto;
	margin-right:0px;	
	padding-right:0px;	
}

#editorPreviewContent{
	width:auto;
	height:auto;
	margin:8px;
}

#editorBottom{
	display:flex;
	flex-direction:row;
}

#editor{
	display:flex;
	flex-direction:column;
	margin-top:10px;
	margin-left:16px;
	margin-right:16px;
}

#toolbar{
	display:flex;
	flex-wrap:wrap;
	width:auto;
	max-width:100%;
	padding-left:8px;
	border:1px solid #ccc;
	border-radius:6px 6px 0px 0px;
	border-bottom-color:white;
}

.icon{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:10px;
	padding-right:10px;
}

.icon:hover{
	border:1px solid #ccc;
	padding-top:11px;
	padding-bottom:11px;
	padding-left:9px;
	padding-right:9px;
}

.separator{
	padding-top:5px;
	padding-bottom:0px;
	padding-left:4px;
	padding-right:4px;
}

@media screen and (max-width:1000px){
	#editorText{
		width:100%;	
	}

	#editorPreview{
		width:100%;	
	}

	#editorBottom{
		flex-direction:column;
	}

}

#metadata{
	display:flex;
	margin:0;
	margin-top:16px;
	margin-bottom:4px;
}

#metadata_1,#metadata_2{
	width:50%;
	border:1px solid #ccc;
	border-radius:6px;
	padding:16px;
}

#metadata_1{
	margin-right:8px;
}

#metadata_2{
	margin-left:8px;
}

#editorButtons{
	margin:0;
	padding:0;
	text-align:right;
}

@media screen and (max-width:1000px){
	#metadata{
		flex-direction:column;
	}
	#metadata_1,#metadata_2{
		width:100%;
		padding:0;
		margin:0;
		border:none;
	}
	#editorButtons{
		text-align:left;
	}
}

.modal{
	display:none;
	position:fixed;
	overflow:auto;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.4); 
	z-index:3;
}

.modal-content{
	background-color:white;
	margin:auto;
	width:80%;
	z-index:3;
}

@media screen and (max-width:1000px){
	.modal-content{
		width:100%;
	}
}

#colorPromptGrid{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
 	grid-gap: 10px;
	padding:16px;
	width:200px;
	height:200px;
}

.colorPromptTimes{
	margin:auto;
	color:#db2828;
}

.colorPromptIcon{
	display:flex;
	width:32px;
	height:32px;
}

.colorPromptIcon:hover .colorPromptTimes{
	color:white;
}

.colorPromptIcon:hover{
	background-color:#db2828;
}

.color{
	display:flex;
	width:32px;
	height:32px;
}

.color:hover{
	opacity:0.8;
}

#red{
	background-color:#db2828;
}
#orange{
	background-color:#f2711c;
}
#yellow{
	background-color:#fbbd08;
}
#olive{
	background-color:#b5cc18;
}
#green{
	background-color:#21ba45;
}
#teal{
	background-color:#00b5ad;
}
#blue{
	background-color:#2185d0;
}
#violet{
	background-color:#6435c9;
}
#purple{
	background-color:#a333c8;
}
#pink{
	background-color:#e03997;
}
#brown{
	background-color:#a5673f;
}
#grey{
	background-color:#767676;
}
#black{
	background-color:#000;
}

#imgPromptForm{
	display:flex;
	flex-direction:row;
}

#imgPicker{
	width:100%;
	height:600px;
	border:none;
}

.imgPromptColumn{
	margin:32px;
}

#imgPromptColumn1{
	display:none;
}

#imgPromptColumn2{
	display:none;
}

#msg{
	height:16px;
	line-height:16px;
	width:300px;
	margin-left:16px;
	color:#ababab;
	font-style:italic;
}

.checkbox{
	opacity:0;
	z-index:3;
	margin-left:0;
	margin-right:24px;
}

.checkbox_container{
	display:flex;
	position:relative;
	margin-top:12px;
	margin-bottom:12px;
}

.checkmark{
	width:20px;
	height:20px;
	background-color:#eee;
	margin-right:16px;
	margin-left:0px;
	position:absolute;
	left:0;
}

.checkbox_container input:hover ~ .checkmark{
	background-color:#ccc;
}
.checkbox_container input:checked ~ .checkmark{
	background-color:#2185d0;
}

