body{
	font-family:open sans;
	margin:0px;
	padding:0px;
}

blockquote{
	border-left:5px solid #ccc;
	padding-left:16px;
}

h1{
	font-size:2em;
}

h2{
	font-size:1.7em;
}

h3{
	font-size:1.4em;
}

h3{
	font-size:1.1em;
}

/* IMAGES */
img{
	margin-top:16px;
	margin-bottom:16px;
}
.img_container{
	position:relative;
}

/* IMAGE BEHAVIOR */
.default{
	max-width:100%;
}

.full{
	width:100%;
}

.onehalf{
	max-width:50%;
}

.onethird{
	max-width:33%;
}

.twothirds{
	max-width:66%;
}

.onequarter{
	max-width:25%;
}

@media screen and (max-width:1000px){
	.mobile_default{
		max-width:100%;
	}
	.mobile_onehalf{
		max-width:50%;
	}

	.mobile_onethird{
		max-width:33%;
	}

	.mobile_twothirds{
		max-width:66%;
	}

	.mobile_onequarter{
		max-width:25%;
	}
	.mobile_full{
		width:100%;
	}
}

/* IMAGE ALIGNMENT */
.left{
	display:flex;
	justify-content:left;
}

.right{
	display:flex;
	justify-content:right;
}

.center{
	display:block;
	margin:auto;
}

.floatleft{
	float:left;
	margin-right:16px;
}

.floatright{
	float:right;
	margin-left:16px;
}

@media screen and (max-width:1000px){
	.mobile_floatleft{
		float:left;
	}
	.mobile_floatright{
		float:right;
	}
	.mobile_left{
		display:flex;
		justify-content:right;
	}

	.mobile_right{
		display:flex;
		justify-content:left;
	}

	.mobile_center{
		display:block;
		margin:auto;
		float:none;
	}
}

red{
	color:#db2828;
}
orange{
	color:#f2711c;
}
yellow{
	color:#fbbd08;
}
olive{
	color:#b5cc18;
}
green{
	color:#21ba45;
}
teal{
	color:#00b5ad;
}
blue{
	color:#2185d0;
}
violet{
	color:#6435c9;
}
purple{
	color:#a333c8;
}
pink{
	color:#e03997;
}
brown{
	color:#a5673f;
}
grey{
	color:#767676;
}
black{
	color:#000;
}


.red{
	color:#db2828;
}
.orange{
	color:#f2711c;
}
.yellow{
	color:#fbbd08;
}
.olive{
	color:#b5cc18;
}
.green{
	color:#21ba45;
}
.teal{
	color:#00b5ad;
}
.blue{
	color:#2185d0;
}
.violet{
	color:#6435c9;
}
.purple{
	color:#a333c8;
}
.pink{
	color:#e03997;
}
.brown{
	color:#a5673f;
}
.grey{
	color:#767676;
}
.black{
	color:#000;
}


/* TEXT ALIGNMENT */

center{
	display:block;
	text-align:center;
}

left{
	display:block;
	text-align:left;
}

right{
	display:block;
	text-align:right;
}

justify{
	display:block;
	text-align:justify;
}
