#filePicker{
	opacity:0;
}

#addImageText{
	text-align:center;
	margin:32px;
	color:#777;
}

.button_add{
	width:60px;
	padding:12px;
	margin:auto;
	border:1px solid #21ba45;
	color:#21ba45;
  	text-align: center;
	margin-bottom:16px;
	margin-top:16px;
	margin-left:20px;
}

.button_add:hover{
	background-color:#21ba45;
	border-color:#21ba45;
	color:white;
}

@media screen and (max-width:1000px){
	.button_add{
		margin-left:auto;
		margin-bottom:auto;
	}
}

.button_select{
	display:block;
	width:100px;
	padding:12px;
	margin:auto;
	border:1px solid #21ba45;
	color:#21ba45;
	margin-bottom:32px;
}

.button_select:hover{
	background-color:#21ba45;
	border-color:#21ba45;
	color:white;
}

.modal{
	display:none;
	position:fixed;
	overflow:auto;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.4); 
	z-index:3;
}

.modal-content{
	display:flex;
	flex-direction:column;
	background-color:white;
	margin:auto;
	width:80%;
	z-index:3;
}

@media screen and (max-width:1000px){
	.modal-content{
		width:100%;
	}
}

.closeIcon{
	display:flex;
	color:#db2828;
	width:32px;
	height:32px;
	border:1px solid #db2828;
	margin:8px;
}

.closeIcon:hover{
	color:white;
	background-color:#db2828;
}

.closeIconTimes{
	margin:auto;
}

#imagesList{
	display:flex;
	flex-wrap:wrap;
	justify-content:start;
}

.image_container{
	width:300px;
	min-height:0;
	min-width:0;
	margin:20px;
	flex-shrink: 0;
}

.image{
	display:block;
	width:300px;
	height:auto;
	margin:auto;
}

.image:hover{
	opacity:0.7;
}

@media screen and (max-width:1000px){
	.image_container{
		width:100%;
		min-width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		margin-bottom:20px;
	}
	.image{
		width:80%;
	}
}
